.footer {
  background-color: #fdf7f7;
  margin-top: auto;

}


.socialLinks {
  display: flex; 
  flex-direction: row; 
  gap: 10px; 
  padding-left: 10px;
}

.socialLinks a {
  text-decoration: none; 
  font-style: bold;
}

.socialLinks img {
  width: 20px; 
}

.container {
  display: flex; 
  align-items: center;
  justify-content: center; 

}

.developerInfo {
  display: flex; /* Utiliza flexbox para los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  
}

.developerInfo p {
  margin-right: 5px; /* Añade un margen a la derecha del texto "Developed by" */
}
