

/* .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* .header.home {
  margin-top: 1rem;
} */

.backToHome {
  margin: 3rem 0 0;
}

.profileContainer {
  display: flex; /* Utilizar flexbox para el diseño */
  align-items: center; /* Centrar verticalmente los elementos */
}

.profileImage {
  margin-right: 5px;
}

.profileContainer a {
  text-decoration: none; 
  color: inherit; 
}

.content {
  flex: 1;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 50rem; 
  }
}
