/* layout.module.css */

.containerPostPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #f4f4f4;
  flex: 1;
}

.containerPost {
  flex: 1;
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 1.5em;
  max-width: 800px;
  word-wrap: break-word;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  padding-top: 2rem;
  align-self: flex-start;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileImage {
  margin-right: 5px;
}

.profileContainer a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .containerPostPage.contentShift {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  }
}
