/* sidebar.module.css */

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.open {
  left: 0;
}

.heading {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.listItem {
  margin-bottom: 10px;
}

.link {
  display: block;
  text-decoration: none; 
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
}

.link:hover {
  color: #000;
  text-decoration: none; 
}

.active {
  font-weight: bold;
  color: #333;
}

.toggleButton {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Styles for dropdown */
.dropdown {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.dropdown.open {
  display: block;
}

.dropdownItem {
  margin-bottom: 10px;
}

.dropdownLink {
  display: block;
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdownLink:hover {
  color: #000;
}

/* Class to shift content when sidebar is open */
.contentShift {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 250px;
    transition: left 0.3s ease-out;
  }
  .contentShift {
    margin-left: 0;
  }
}
