@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    max-width: 100rem;
    padding: 0 1rem;
    /* margin: 3rem auto 6rem; */
    /* padding: 2em; */
    /* margin: 2em; */
    padding: 1.5em;
    margin: 1.5em;
  /* background-color: rgb(122, 86, 31); */

}
.heading2Xl {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    
}

.headingXl {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
    /* display: inline-block; */

}

.lightText {
    color: #666;
}

.tag {
  background-color: #e2e8f0; /* Color de fondo */
  color: #4a5568; /* Color de texto */
  padding: 0.15rem 0.5rem; /* Espaciado interior */
  border-radius: 0.3rem; /* Bordes redondeados */
  text-decoration: none; /* Elimina la subrayado del enlace */
  margin: 0.2rem;
  font-size: 0.8em;
}

.tag:hover {
  background-color: #cbd5e0; 
  text-decoration: none; 

}

/* .separator { */
  /* Estilos para la coma */
/* } */

/* FOR INLINE CODE AND CODE SNIPPETS */
.contenedorhtml pre  code {
  display: block;
  background-color: #313036;
  color: white;
  font-weight: 100;
  font-style: normal;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow-x: auto; 
  font-family: monospace; /* Utilizar una fuente monoespaciada para el código */
  font-size: 0.9rem; /* Tamaño de fuente ligeramente más pequeño */
  line-height: 1.5; /* Espaciado entre líneas */
}

.contenedorhtml li code  {
  /* display: inline; */
  background-color: #313036;
  color: white;
  /* font-weight: 10px; */
  /* font-style: normal; */
  /* padding: 1rem; */
  text-align: center;
  border-radius: 4px;
  /* margin-bottom: 1rem; */
  /* overflow-x: auto; 
  font-family: monospace; /* Utilizar una fuente monoespaciada para el código */
  font-size: 0.9rem; 
  /* line-height: 2px;  */
}


.wrapper {


  background-color: #f4f4f4;
  padding: 2rem 0rem 2rem 0rem;
  
}
.wrapperTagView {
 /* height: 80vh; */
  /* margin: 2rem 1.5rem 2rem 1.5rem; */
  /* padding: 2rem 1.5rem 2rem 1.5rem; */
  display: flex;
  flex: 1;
  flex-direction: column;
  /* max-width: 600px; */
  /* justify-items: center; */
/* align-items: center; */
/* background-color: #cce5ff; */
}