.container {
    max-width: 100rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}
.heading2Xl {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 1.6rem;
    line-height: 0.6;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
    /* display: inline-block; */

}

.lightText {
    color: #666;
}

.tag {
  background-color: #e2e8f0; /* Color de fondo */
  color: #4a5568; /* Color de texto */
  padding: 0.15rem 0.5rem; /* Espaciado interior */
  border-radius: 0.3rem; /* Bordes redondeados */
  text-decoration: none; /* Elimina la subrayado del enlace */
  margin: 0.2rem;
  font-size: 0.8em;
}

.tag:hover {
  background-color: #cbd5e0; /* Cambia el color de fondo en el hover */
}

/* .separator { */
  /* Estilos para la coma */
/* } */

